<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="tesdsasdasdasdsadasdt6">

        <parameter name="browser" value="ricky"></parameter>
        <classes>

            <class name="practiceprograms.RoughWork">
            <methods>
                <include name="test6"></include>
            </methods>
            </class>

        </classes>
    </test>

</suite>